@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    -webkit-box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.5),
      inset -2px -2px 0px 0px rgba(102, 73, 0, 0.5);
    -moz-box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.5),
      inset -2px -2px 0px 0px rgba(102, 73, 0, 0.5);
    box-shadow: inset 2px 2px 0px 0px rgba(255, 255, 255, 0.5),
      inset -2px -2px 0px 0px rgba(102, 73, 0, 0.5);
  }

  .btn-sm {
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.5),
      inset -1px -1px 0px 0px rgba(102, 73, 0, 0.5);
    -moz-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.5),
      inset -1px -1px 0px 0px rgba(102, 73, 0, 0.5);
    box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.5),
      inset -1px -1px 0px 0px rgba(102, 73, 0, 0.5);
  }
}

body {
  @apply bg-amber-100;
}
